<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <localRepository>${env.MAVEN_REPOSITORY}</localRepository>
    <interactiveMode/>
    <offline/>
    <pluginGroups/>
    <servers>
        <server>
            <id>github-cx</id>
            <username>${env.GITHUB_USERNAME}</username>
            <password>${env.GITHUB_PASSWORD}</password>
        </server>
    </servers>
    <mirrors>
        <mirror>
            <id>sonatype</id>
            <name>sonatype</name>
            <url>https://oss.sonatype.org/content/repositories/releases/</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
        <mirror>
            <id>jenkins-ci</id>
            <name>jenkins-ci</name>
            <url>https://repo.jenkins-ci.org/public/</url>
            <mirrorOf>central</mirrorOf>
        </mirror>
    </mirrors>
    <proxies/>

    <profiles>
        <profile>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <id>github-cx-profile</id>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>https://repo1.maven.org/maven2</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>false</enabled></snapshots>
                </repository>
                <repository>
                    <id>github-cx</id>
                    <url>https://maven.pkg.github.com/Continuous-X/jenkins-cx/</url>
                </repository>
            </repositories>
        </profile>
    </profiles>
</settings>